# Kam se stahují CSV data
DATA_IN=/home/jirka_vlasak/pathogensportal-db/data

# Kam se generují JSONy pro Hugo (cesta k hugo portálu)
DATA_OUT=/home/jirka_vlasak/pathogenPortal/site/static/data/charts
